.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.input__wrapper {
  width: 270px;
  height: 75px;
}

.input__file {
  opacity: 0;
  visibility: hidden;

}
 
.input__file-icon-wrapper {
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.13vw solid none;
  }
  .input__file-icon-wrapper:hover {
  background: #1f2278;
  border: none;
}
.input__file-button-text {
  line-height: 1;
 
}
 
.input__file-button {
  width: 270px;
  height: 50px;
  background: #565acf;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  cursor: pointer;

  transition-duration: 0.5s;
}

.input__file-button:hover {
  background: #1f2278;
  border: 1px solid #1f2278;
}