$main-color: #565acf;
$dark-main-color: #1f2278;
$hover-color: #f17732;


.yourData {
    width: 270px;
}

.bio {
    display: flex;
    flex-direction: column;

    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 430px;

        svg {
            size: 5em;
        }
    }
}

.profileWrapper {
    margin-left: 40px;
    margin-top: 40px;
    
    h1 {
        font-size: 28px;
        color: $dark-main-color;
    }

    h2, h3 {
        margin-top: 15px;
        font-size: 20px;
        font-weight: 600;
    }

    .addBIO {
        display: flex;
        flex-direction: column; 
        justify-content: center;
    }

    p {
        margin-top: 30px;
    }

    div {
        
    }

    input {
        padding-left: 20px;
        margin-top: 15px;
        margin-right: 30px;
        width: 395px;
        height: 50px;
        
        box-shadow: 0 5px 30px 0 rgba(86,90,207,.3);
    
        font-family: "Montserrat",sans-serif;
        font-weight: 700;
        font-size: 18px;
        
        border: none;
        border-radius: 10px;
    
        
    
        transition: 0.5s ease-in-out;
    
        cursor: pointer;
       
    }
    textarea {
        margin-top: 15px;
        
        padding-top: 10px;
        padding-left: 20px;

        max-width: 400px;
        max-height: 250px;

        box-shadow: 0 5px 30px 0 rgba(86,90,207,.3);
    
        font-family: "Montserrat",sans-serif;
        font-weight: 700;
        font-size: 18px;
        
        border: none;
        border-radius: 10px;
    
        cursor: pointer;
       
    }

    button {
            width: 240px;
            height: 50px;

            
            
            margin-top: 20px;

            text-align: center;
        
            box-shadow: 0 5px 30px 0 rgba(86,90,207,.3);
        
            font-family: "Montserrat",sans-serif;
            font-weight: 700;
            font-size: 20px;
            
            border: none;
            border-radius: 10px;
        
            background-color: $main-color;
            color: white;
        
            transition: 0.5s ease-in-out;
        
            text-decoration: none;
        
            cursor: pointer;

            &:hover {
                background-color: $hover-color;
            }
    }
}



 // p {
        //     font-size: 24px;
        //     font-weight: 600;
        
        //     border-width: 0 0 0 1px;
        
        //     line-height: 1;
            
        //     text-align: center;
        //     padding-top: 10px;

        //     color: $dark-main-color;     
        // } 